<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>BUYCLE</title>

  <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
  <link rel="icon" href="../img/favicon.png" type="image/x-icon">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="../js/includeHTML.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
</head>

<body>
<header include-html="./common/header.html"></header>
<article include-html="main.html"></article>
<article include-html="popup.html"></article>
<footer include-html="./common/footer.html"></footer>
</body>
<script>
    includeHTML();
</script>

</html>
 