<section class="main_section">
  <div class="top_area">
    <input type="button" value="등록" />
    <label for="sort">정렬</label>
    <select name="sort" id="sort">
      <option value="default">기본</option>
    </select>
  </div>
  <div class="cont_area">
    <ul class="cont_list">
      <li>
        <a href="#">
          <span class="name">상품명1</span>
          <span class="date">2020/06/15</span>
          <span class="average">45 일</span>
          <span class="next">2020/08/01</span>
          <p class="note">기타 특이사항 내용 한줄</p>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="name">상품명2</span>
          <span class="date">2020/06/15</span>
          <span class="average">45 일</span>
          <span class="next">2020/08/01</span>
          <p class="note">기타 특이사항 내용 한줄</p>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="name">상품명3</span>
          <span class="date">2020/06/15</span>
          <span class="average">45 일</span>
          <span class="next">2020/08/01</span>
          <p class="note">기타 특이사항 내용 한줄</p>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="name">상품명4</span>
          <span class="date">2020/06/15</span>
          <span class="average">45 일</span>
          <span class="next">2020/08/01</span>
          <p class="note">기타 특이사항 내용 한줄</p>
        </a>
      </li>
    </ul>
  </div>
</section>
