<section class="main_section">
  <div class="top_wrap">
    <input type="button" value="등록" />
    <div class="select_box">
      <label for="sort"><!--<i class="fas fa-filter"></i> --></label>
      <select name="sort" id="sort">
        <option value="default">기본</option>
        <option value="user">입력 카테고리</option>
      </select>
    </div>
  </div>
  <div class="main_wrap">
    <div class="main_inner">
      <ul class="cont_list">
        <li>
          <a href="#">
            <span class="name">상품명1</span>
            <span class="date">2020/06/15</span>
            <span class="average">45 일</span>
            <span class="next">2020/08/01</span>
            <p class="note">기타 특이사항 내용 한줄</p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="name">상품명2</span>
            <span class="date">2020/06/15</span>
            <span class="average">45 일</span>
            <span class="next">2020/08/01</span>
            <p class="note">기타 특이사항 내용 한줄</p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="name">상품명3</span>
            <span class="date">2020/06/15</span>
            <span class="average">45 일</span>
            <span class="next">2020/08/01</span>
            <p class="note">기타 특이사항 내용 한줄</p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="name">상품명4</span>
            <span class="date">2020/06/15</span>
            <span class="average">45 일</span>
            <span class="next">2020/08/01</span>
            <p class="note">기타 특이사항 내용 한줄</p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="name">상품명5</span>
            <span class="date">2020/06/15</span>
            <span class="average">45 일</span>
            <span class="next">2020/08/01</span>
            <p class="note">기타 특이사항 내용 한줄</p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="name">상품명6</span>
            <span class="date">2020/06/15</span>
            <span class="average">45 일</span>
            <span class="next">2020/08/01</span>
            <p class="note">기타 특이사항 내용 한줄</p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="name">상품명7</span>
            <span class="date">2020/06/15</span>
            <span class="average">45 일</span>
            <span class="next">2020/08/01</span>
            <p class="note">기타 특이사항 내용 한줄</p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="name">상품명8</span>
            <span class="date">2020/06/15</span>
            <span class="average">45 일</span>
            <span class="next">2020/08/01</span>
            <p class="note">기타 특이사항 내용 한줄</p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="name">상품명9</span>
            <span class="date">2020/06/15</span>
            <span class="average">45 일</span>
            <span class="next">2020/08/01</span>
            <p class="note">기타 특이사항 내용 한줄</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
