<section class="main_section">
    <div class="top_wrap">
        <input type="button" value="등록" onclick="popupOpen('popRegister')" />
        <div class="select_box">
            <select name="sort" id="sort">
                <option value="default">기본</option>
                <option value="user">입력 카테고리</option>
            </select>
        </div>
    </div>
    <div class="main_wrap">
        <div class="main_inner">
            <ul class="cont_list">
                <li>
                    <a href="#" onclick="popupOpen('popDetail')">
                        <strong class="dday">D-day</strong>
                        <span class="name"><strong>상품명</strong>네일샵</span>
                        <span class="price"><strong>가격</strong>58,000</span>
                        <span class="date"><strong>구매일</strong>2020/06/15</span>
                        <span class="average"><strong>평균주기</strong>00일(미정)</span>
                        <span class="next"><strong>다음 예정일</strong> 2020/08/01</span>
                        <span class="note"
                        >특이사항같은거 적고 내용 한줄넘어가면 말줄임하기</span
                        >
                    </a>
                </li>
                <li>
                    <a href="#" onclick="popupOpen('popDetail')">
                        <strong class="dday">D-20</strong>
                        <span class="name"><strong>상품명</strong>미용실</span>
                        <span class="price"><strong>가격</strong>58,000</span>
                        <span class="date"><strong>구매일</strong>2020/06/15</span>
                        <span class="average"><strong>평균주기</strong>00일(미정)</span>
                        <span class="next"><strong>다음 예정일</strong> 2020/08/01</span>
                        <span class="note"
                        >특이사항같은거 적고 내용 한줄넘어가면 말줄임하기</span
                        >
                    </a>
                </li>
                <li>
                    <a href="#" onclick="popupOpen('popDetail')">
                        <strong class="dday">Wait</strong>
                        <span class="name"><strong>상품명</strong>미용실</span>
                        <span class="price"><strong>가격</strong>58,000</span>
                        <span class="date"><strong>구매일</strong>2020/06/15</span>
                        <span class="average"><strong>평균주기</strong>00일(미정)</span>
                        <span class="next"><strong>다음 예정일</strong> 2020/08/01</span>
                        <span class="note"
                        >특이사항같은거 적고 내용 한줄넘어가면 말줄임하기</span
                        >
                    </a>
                </li>
                <li>
                    <a href="#" onclick="popupOpen('popDetail')">
                        <strong class="dday">D-99</strong>
                        <span class="name"><strong>상품명</strong>미용실</span>
                        <span class="price"><strong>가격</strong>58,000</span>
                        <span class="date"><strong>구매일</strong>2020/06/15</span>
                        <span class="average"><strong>평균주기</strong>00일(미정)</span>
                        <span class="next"><strong>다음 예정일</strong> 2020/08/01</span>
                        <span class="note"
                        >특이사항같은거 적고 내용 한줄넘어가면 말줄임하기</span
                        >
                    </a>
                </li>
                <li>
                    <a href="#" onclick="popupOpen('popDetail')">
                        <strong class="dday">D-99</strong>
                        <span class="name"><strong>상품명</strong>미용실</span>
                        <span class="price"><strong>가격</strong>58,000</span>
                        <span class="date"><strong>구매일</strong>2020/06/15</span>
                        <span class="average"><strong>평균주기</strong>00일(미정)</span>
                        <span class="next"><strong>다음 예정일</strong> 2020/08/01</span>
                        <span class="note"
                        >특이사항같은거 적고 내용 한줄넘어가면 말줄임하기</span
                        >
                    </a>
                </li>
                <li>
                    <a href="#" onclick="popupOpen('popDetail')">
                        <strong class="dday">D-99</strong>
                        <span class="name"><strong>상품명</strong>미용실</span>
                        <span class="price"><strong>가격</strong>58,000</span>
                        <span class="date"><strong>구매일</strong>2020/06/15</span>
                        <span class="average"><strong>평균주기</strong>00일(미정)</span>
                        <span class="next"><strong>다음 예정일</strong> 2020/08/01</span>
                        <span class="note"
                        >특이사항같은거 적고 내용 한줄넘어가면 말줄임하기</span
                        >
                    </a>
                </li>
                <li>
                    <a href="#" onclick="popupOpen('popDetail')">
                        <strong class="dday">D-99</strong>
                        <span class="name"><strong>상품명</strong>미용실</span>
                        <span class="price"><strong>가격</strong>58,000</span>
                        <span class="date"><strong>구매일</strong>2020/06/15</span>
                        <span class="average"><strong>평균주기</strong>00일(미정)</span>
                        <span class="next"><strong>다음 예정일</strong> 2020/08/01</span>
                        <span class="note"
                        >특이사항같은거 적고 내용 한줄넘어가면 말줄임하기</span
                        >
                    </a>
                </li>
                <li>
                    <a href="#" onclick="popupOpen('popDetail')">
                        <strong class="dday">D-99</strong>
                        <span class="name"><strong>상품명</strong>미용실</span>
                        <span class="price"><strong>가격</strong>58,000</span>
                        <span class="date"><strong>구매일</strong>2020/06/15</span>
                        <span class="average"><strong>평균주기</strong>00일(미정)</span>
                        <span class="next"><strong>다음 예정일</strong> 2020/08/01</span>
                        <span class="note"
                        >특이사항같은거 적고 내용 한줄넘어가면 말줄임하기</span
                        >
                    </a>
                </li>
                <li>
                    <a href="#" onclick="popupOpen('popDetail')">
                        <strong class="dday">D-99</strong>
                        <span class="name"><strong>상품명</strong>미용실</span>
                        <span class="price"><strong>가격</strong>58,000</span>
                        <span class="date"><strong>구매일</strong>2020/06/15</span>
                        <span class="average"><strong>평균주기</strong>00일(미정)</span>
                        <span class="next"><strong>다음 예정일</strong> 2020/08/01</span>
                        <span class="note"
                        >특이사항같은거 적고 내용 한줄넘어가면 말줄임하기</span
                        >
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
