<div id="popDetail" class="popup_wrap">
    <strong class="logo">BUYSCLE.<em>01</em></strong>
    <button type="button" class="btn_close" onclick="popupClose()">
        <i class="fas fa-times"></i>
    </button>
    <span class="name"><strong>상품명</strong>미용실</span>
    <span class="price"><strong>가격</strong>58,000</span>
    <span class="date"><strong>결제일</strong>2020/06/15</span>
    <span class="average"><strong>평균주기</strong>00일(미정)</span>
    <span class="next"><strong>다음 예정일</strong> 2020/08/01</span>
    <span class="note"
    >is simply dummy text of the printing and typesetting industry. Lorem Ipsum
    has been the industry's standard dummy text ever since the 1500s, when an
    unknown printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries, but also the leap
    into electronic typesetting, remaining essentially unchanged. It was
    popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </span>
    <div class="btn_box">
        <input type="button" value="수정" onclick="popupOpen('popDetailModify')" />
        <input type="button" value="삭제" />
    </div>
</div>

<div id="popDetailModify" class="popup_wrap">
    <strong class="logo">BUYSCLE.<em>01</em></strong>
    <button type="button" class="btn_close" onclick="popupClose()">
        <i class="fas fa-times"></i>
    </button>
    <span class="name">
    <label for="popName">상품명</label
    ><input
            id="popName"
            type="text"
            name="name"
            value="네일샵 방문"
            placeholder="상품명을 입력해주세요. EX:네일샵 방문"
    />
  </span>
    <span class="price">
    <label for="popPrice">가격</label
    ><input
            id="popPrice"
            type="text"
            name="price"
            value="99000"
            placeholder="가격을 입력해주세요. EX: 99000"
    />
  </span>
    <span class="date">
    <label for="popDate">결제일</label
    ><input
            id="popDate"
            type="text"
            name="date"
            value="2020/06/15"
            placeholder="마지막 결제일을 입력해주세요. EX: 2020/04/13"
    />
  </span>
    <span class="average">
    <label for="popAverage">평균주기</label>
    <input id="popAverage" type="text" value="00일(미정)" disabled />
  </span>
    <span class="next">
    <label for="popNext">다음 예정일</label>
    <input id="popNext" type="text" value="2020/08/01" disabled
    /></span>
    <span class="note">
    <label for="popNote"> 기타내용</label>
    <textarea
            id="popNote"
            name="note"
            placeholder="기타 특이사항이 있다면 메모해주세요."
    >
What is Lorem Ipsum?</textarea
    >
  </span>
    <div class="btn_box">
        <input type="submit" value="적용" />
    </div>
</div>

<div id="popRegister" class="popup_wrap">
    <strong class="logo">BUYSCLE.<em>NEW</em></strong>
    <button type="button" class="btn_close" onclick="popupClose()">
        <i class="fas fa-times"></i>
    </button>
    <span class="name">
    <label for="popName">상품명</label
    ><input
            id="popName"
            type="text"
            name="name"
            value="네일샵 방문"
            placeholder="상품명을 입력해주세요. EX:네일샵 방문"
    />
  </span>
    <span class="price">
    <label for="popPrice">가격</label
    ><input
            id="popPrice"
            type="text"
            name="price"
            value="99000"
            placeholder="가격을 입력해주세요. EX: 99000"
    />
  </span>
    <span class="date">
    <label for="popDate">결제일</label
    ><input
            id="popDate"
            type="text"
            name="date"
            value="2020/06/15"
            placeholder="마지막 결제일을 입력해주세요. EX: 2020/04/13"
    />
  </span>
    <span class="note">
    <label for="popNote"> 기타내용</label>
    <textarea
            id="popNote"
            name="note"
            placeholder="기타 특이사항이 있다면 메모해주세요."
    >
What is Lorem Ipsum?</textarea
    >
  </span>
    <div class="btn_box">
        <input type="submit" value="등록" />
    </div>
</div>
